-#:javascript
-#  $(document).ready(function(){
-#    $(document).scroll(function(){
-#      var scrollPos = $(document).scrollTop();
-#      else if (scrollPos >= 790){
-#        $('#custom-navtab-pos').addClass("navscroll-background")
-#        $('#custom-navtab-pos').removeClass("custom-second-header-design")
-#      }
-#    });
-#  });

%div.first-content-wrapper
  .container
    %div.jumbotron
      %h1= "Bootstrap starter template"
      %p.lead= "All you get is this text and a mostly barebones HTML"
%div.second-content-wrapper
  #custom-navtab-pos.custom-second-header-design
    %p= "BOOTSTRAP US"
  .container
    %div.jumbotron
      .col-md-4
        %a.thumbnail
          =image_tag "background-img.jpg"
      .col-md-8
        %p.lead= "All you get is this text and a mostly barebones HTML"
    %div.jumbotron
      .col-md-8
        %p.lead= "All you get is this text and a mostly barebones HTML"
      .col-md-4
        %a.thumbnail
          =image_tag "background-img.jpg"
    %div.jumbotron
      .col-md-4
        %a.thumbnail
          =image_tag "background-img.jpg"
      .col-md-8
        %p.lead= "All you get is this text and a mostly barebones HTML"
%div.third-content-wrapper
  .custom-third-header-design
    %p= "BOOTSTRAP US"
  .container
    %div.jumbotron
      %h1= "Bootstrap starter template"
      %p.lead= "All you get is this text and a mostly barebones HTML"
%div.fourth-content-wrapper
  .custom-fourth-header-design
    %p= "BOOTSTRAP US"
  .container
    %div.jumbotron
      %h1= "Bootstrap starter template"
      %p.lead= "All you get is this text and a mostly barebones HTML"