%div.first-content-wrapper
  .container
    %div.jumbotron
      %h1= "Bootstrap starter template"
      %p.lead= "All you get is this text and a mostly barebones HTML"
%div.second-content-wrapper
  .container
    %div.page-header
      %h1= "Bootstrap starter template"
    %div.jumbotron
      %div.col-md-4
        %a.thumbnail
          =image_tag "background-img.jpg"
      %div.col-md-8
        %p.lead= "All you get is this text and a mostly barebones HTML"
    %div.jumbotron
      %div.col-md-8
        %p.lead= "All you get is this text and a mostly barebones HTML"
      %div.col-md-4
        %a.thumbnail
          =image_tag "background-img.jpg"
    %div.jumbotron
      %div.col-md-4
        %a.thumbnail
          =image_tag "background-img.jpg"
      %div.col-md-8
        %p.lead= "All you get is this text and a mostly barebones HTML"
%div.third-content-wrapper
  .container
    %div.jumbotron
      %h1= "Bootstrap starter template"
      %p.lead= "All you get is this text and a mostly barebones HTML"
%div.fourth-content-wrapper
  .container
    %div.jumbotron
      %h1= "Bootstrap starter template"
      %p.lead= "All you get is this text and a mostly barebones HTML"