:javascript
  $(document).ready(function(){
    $("#large-img-one").mouseover(function(){
      $("#content-desc-one").slideDown(400);
    });
    $("#large-img-two").mouseover(function(){
      $("#content-desc-two").slideDown(400);
    });
    $("#medium-img-one").mouseover(function(){
      $("#medium-img-content-desc-one").slideDown(400);
    });
    $("#medium-img-two").mouseover(function(){
      $("#medium-img-content-desc-two").slideDown(400);
    });
    $("#medium-img-three").mouseover(function(){
      $("#medium-img-content-desc-three").slideDown(400);
    });
    $("#large-img-one").mouseout(function(){
      $("#content-desc-one").slideUp(400);
    });
    $("#large-img-two").mouseout(function(){
      $("#content-desc-two").slideUp(400);
    });
    $("#medium-img-one").mouseout(function(){
      $("#medium-img-content-desc-one").slideUp(400);
    });
    $("#medium-img-two").mouseout(function(){
      $("#medium-img-content-desc-two").slideUp(400);
    });
    $("#medium-img-three").mouseout(function(){
      $("#medium-img-content-desc-three").slideUp(400);
    });
    $(document).scroll(function(){
      var scrollval = $(document).scrollTop();
      if(scrollval >= 315)
      {
        $("#slide-header-two-content-one").fadeIn(1400).slideDown(2000)
        $("#slide-header-two-content-two").fadeIn(1000).slideDown(2000)
        $("#slide-header-two-content-three").fadeIn(600).slideDown(2000)
      }
    });

    function initialize() {
      var mapCanvas = $("#map-canvas")[0];
      var mapOptions = {
        center: new google.maps.LatLng(12.989914, 80.268482),
        zoom: 8,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(mapCanvas, mapOptions);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  });

%div.first-content-wrapper
  .container
    %div.jumbotron
      %h1= "Bootstrap starter template"
      %p.lead= "All you get is this text and a mostly barebones HTML"
%div.second-content-wrapper
  .container
    .custom-header-two
      .page-header
        %p= "BOOTSTRAP US"
  .content-container
    .container
      .row
        .col-sm-6.col-md-4{style: "display:none",id: "slide-header-two-content-one"}
          .thumbnail
            =image_tag "sliderimg1.jpg",class: "img-rounded"
            .caption
              .page-header
                %h3= "Thumbnail Content"
              %p= "All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML"
        .col-sm-6.col-md-4{style: "display:none",id: "slide-header-two-content-two"}
          .thumbnail
            =image_tag "sliderimg2.jpg",class: "img-rounded"
            .caption
              .page-header
                %h3= "Thumbnail Content"
              %p= "All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML"
        .col-sm-6.col-md-4{style: "display:none",id: "slide-header-two-content-three"}
          .thumbnail
            =image_tag "sliderimg3.jpg",class: "img-rounded"
            .caption
              .page-header
                %h3= "Thumbnail Content"
              %p= "All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML"

%div.third-content-wrapper
  .container
    .custom-header-three
      .page-header
        %p= "BOOTSTRAP US"
  .container
    .row
      .col-md-12
        .col-md-6
          .thumbnail
            =image_tag "sliderimg1.jpg",class: "img-responsive",id: "large-img-one"
        .col-md-6
          .thumbnail
            =image_tag "sliderimg5.jpg",class: "img-responsive",id: "large-img-two"
    .row
      .col-md-12
        %ul
          %li
            #content-desc-one.content-desc-one{style: "display:none;"}
              %h3= "Content Heading"
              %p= "All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML"
          %li
            #content-desc-two.content-desc-two{style: "display:none;"}
              %h3= "Content Heading"
              %p= "All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML"
    .row
      .col-md-12
        .col-md-4
          .thumbnail
            =image_tag "sliderimg2.jpg",class: "img-responsive",id: "medium-img-one"
        .col-md-4
          .thumbnail
            =image_tag "sliderimg7.jpg",class: "img-responsive",id: "medium-img-two"
        .col-md-4
          .thumbnail
            =image_tag "sliderimg8.jpg",class: "img-responsive",id: "medium-img-three"
    .row
      .col-md-12
        %ul
          %li
            #medium-img-content-desc-one.content-desc-one{style: "display:none;"}
              %h3= "Content Heading"
              %p= "All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML"
          %li
            #medium-img-content-desc-two.content-desc-three{style: "display:none;"}
              %h3= "Content Heading"
              %p= "All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML"
          %li
            #medium-img-content-desc-three.content-desc-two{style: "display:none;"}
              %h3= "Content Heading"
              %p= "All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML"

%div.fourth-content-wrapper
  .container
    .custom-header-four
      .page-header
        %p= "BOOTSTRAP US"
  .container
    %p.lead= "All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML"

%div.fifth-content-wrapper
  .container
    .custom-header-four
      .page-header
        %p= "BOOTSTRAP US"
  .container
    .row
      .col-md-3
        .thumbnail
          =image_tag "face1.jpg", class: "img-circle img-responsive circle-border"
          .caption
            %h3= "Person1"
            %p.lead= "Designation"
      .col-md-3
        .thumbnail
          =image_tag "face2.jpg", class: "img-circle img-responsive circle-border"
          .caption
            %h3= "Person2"
            %p.lead= "Designation"
      .col-md-3
        .thumbnail
          =image_tag "face3.jpg", class: "img-circle img-responsive circle-border"
          .caption
            %h3= "Person3"
            %p.lead= "Designation"
      .col-md-3
        .thumbnail
          =image_tag "face4.jpg", class: "img-circle img-responsive circle-border"
          .caption
            %h3= "Person4"
            %p.lead= "Designation"

%div.sixth-content-wrapper
  .container
    .custom-header-four
      .page-header
        %p= "BOOTSTRAP US"
  .container
    .col-md-12.map-container-wrapper
      .page-header
        %h2= "OUR LOCATION"
      %form.form-horizontal
        .col-md-12.map-details-wrapper
          #map-canvas
  .container
    .col-md-6
      .page-header
        %h2= "ANY QUERIES? WRITE TO US"
      %form.form-horizontal
        .form-group
          .col-md-12
            %input#inputEmail.form-control{:placeholder => "Email", :type => "text"}
        .form-group
          .col-md-12
            %textarea#textArea.form-control{placeholder: "Message *",:rows => "3"}
        .form-group
          .col-md-10
            .btn.btn-primary= "Primary"
    .col-md-6.contact-right-content
      .page-header
        %h2= "VISIT US"
      .col-md-8
        %form.form-horizontal
          %h3.comp-name= "Company Name"
          %p= "Building ,Floor no"
          %p= "Address 1st line"
          %p= "Address 2nd line"
          %p= "Address 3rd line"
          %p= "Company landline no"
          %p= "Company email id"
        %form.form-horizontal
          %p= "Company working hours"

%div.footer-content
  .container
    .col-
    .col-md-8
      %p= "Building ,Floor no"
    .col-md-4
      %p= "Building ,Floor no"