:javascript
  $(document).ready(function(){
    $("#large-img-one").mouseover(function(){
      $("#content-desc-one").slideDown(1000);
    });
    $("#large-img-two").mouseover(function(){
      $("#content-desc-two").slideDown(1000);
    });
    $("#medium-img-one").mouseover(function(){
      $("#medium-img-content-desc-one").slideDown(1000);
    });
    $("#medium-img-two").mouseover(function(){
      $("#medium-img-content-desc-two").slideDown(1000);
    });
    $("#medium-img-three").mouseover(function(){
      $("#medium-img-content-desc-three").slideDown(1000);
    });
    $("#large-img-one").mouseout(function(){
      $("#content-desc-one").slideUp(400);
    });
    $("#large-img-two").mouseout(function(){
      $("#content-desc-two").slideUp(400);
    });
    $("#medium-img-one").mouseout(function(){
      $("#medium-img-content-desc-one").slideUp(400);
    });
    $("#medium-img-two").mouseout(function(){
      $("#medium-img-content-desc-two").slideUp(400);
    });
    $("#medium-img-three").mouseout(function(){
      $("#medium-img-content-desc-three").slideUp(400);
    });
    $(document).scroll(function(){
      var scrollval = $(document).scrollTop();
      if(scrollval = "506")
      {
        $("#slide-header-two-content-three").slideDown(2000);
      }
    });
  });

%div.first-content-wrapper
  .container
    %div.jumbotron
      %h1= "Bootstrap starter template"
      %p.lead= "All you get is this text and a mostly barebones HTML"
%div.second-content-wrapper
  .container
    .custom-header-two
      .page-header
        %p= "BOOTSTRAP US"
  .content-container
    .container
      .row
        .col-sm-6.col-md-4{style: "display:none",id: "slide-header-two-content-one"}
          .thumbnail
            =image_tag "sliderimg1.jpg",class: "img-rounded"
            .caption
              .page-header
                %h3= "Thumbnail Content"
              %p= "All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML"
        .col-sm-6.col-md-4{style: "display:none",id: "slide-header-two-content-two"}
          .thumbnail
            =image_tag "sliderimg2.jpg",class: "img-rounded"
            .caption
              .page-header
                %h3= "Thumbnail Content"
              %p= "All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML"
        .col-sm-6.col-md-4{style: "display:none",id: "slide-header-two-content-three"}
          .thumbnail
            =image_tag "sliderimg3.jpg",class: "img-rounded"
            .caption
              .page-header
                %h3= "Thumbnail Content"
              %p= "All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML"

%div.third-content-wrapper
  .container
    .custom-header-three
      .page-header
        %p= "BOOTSTRAP US"
  .container
    .row
      .col-md-12
        .col-md-6
          .thumbnail
            =image_tag "sliderimg1.jpg",class: "img-responsive",id: "large-img-one"
        .col-md-6
          .thumbnail
            =image_tag "sliderimg5.jpg",class: "img-responsive",id: "large-img-two"
    .row
      .col-md-12
        %ul
          %li
            #content-desc-one.content-desc-one{style: "display:none;"}
              %h3= "Content Heading"
              %p= "All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML"
          %li
            #content-desc-two.content-desc-two{style: "display:none;"}
              %h3= "Content Heading"
              %p= "All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML"
    .row
      .col-md-12
        .col-md-4
          .thumbnail
            =image_tag "sliderimg2.jpg",class: "img-responsive",id: "medium-img-one"
        .col-md-4
          .thumbnail
            =image_tag "sliderimg7.jpg",class: "img-responsive",id: "medium-img-two"
        .col-md-4
          .thumbnail
            =image_tag "sliderimg8.jpg",class: "img-responsive",id: "medium-img-three"
    .row
      .col-md-12
        %ul
          %li
            #medium-img-content-desc-one.content-desc-one{style: "display:none;"}
              %h3= "Content Heading"
              %p= "All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML"
          %li
            #medium-img-content-desc-two.content-desc-three{style: "display:none;"}
              %h3= "Content Heading"
              %p= "All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML"
          %li
            #medium-img-content-desc-three.content-desc-two{style: "display:none;"}
              %h3= "Content Heading"
              %p= "All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML"

%div.fourth-content-wrapper
  .container
    .custom-header-four
      .page-header
        %p= "BOOTSTRAP US"
  .container
    %p.lead= "All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML,All you get is this text and a mostly barebones HTML"
